* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Typografi*/
  --font-size-x-small: 16px;
  --font-size-small: 20px;
  --font-size-medium: 25px;
  --font-size-large: 48px;
  --font-size-xl: 68px;
  --font-size-hero-mobile: 2.5rem;

  /*farver*/
  --primary-color: white;
  --secondary-color: #683f21;
  --third-color: #884c59;
  --fourth-color: #be7d8b;
}


#navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px 16px;
}

.logo {
  width: 200px;
  height: auto;
}

.kurv {
  width: 50px;
  height: auto;
}

#right-navbar ul {
  font-size: var(--font-size-small);
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 8px;
  color: var(--secondary-color);
}

#right-navbar ul li {
  position: relative;
  margin: 0 20px;
}

#right-navbar ul li a {
  color: var(--secondary-color);
  list-style: none;
  font-size: var(--font-size-small);
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  text-decoration: underline;
}

.search input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border-radius: 20px;
  font-size: var(--font-size-small);
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 200px;
  height: 35px;
}

input::placeholder {
  opacity: 0.5;
  color: var(--secondary-color);
  font-size: var(--font-size-x-small);
}

#right-navbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

#search-basket {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.buy-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 16px 24px;
  border: none;
  border-radius: 30px;
  font-size: var(--font-size-small);
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 3;
}

/* Prøv at lav det i JS istedet */
.buy-btn:hover {
  background-color: var(--third-color);
}

h1 {
  font-size: var(--font-size-xl);
  text-shadow: 0.5px 0.5px 1px black;
  color: var(--primary-color);
  text-align: center;
}

#hero {
  position: relative; /* gør at vi kan placere overlay ovenpå */
  display: inline-block; /* sørger for at containeren følger billedets størrelse */
  width: 100%;
  height: auto;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-img {
  width: 100%; /* fylder hele bredden */
  height: auto; /* bevarer billedets proportioner */
}

.headline {
    position: absolute;
    justify-content: center;
    top: 12%;
    z-index: 2;
    font-size: var(--font-size-xl);
    width: 100%; /* ensure it can center comfortably, helps on smaller screens */
}

.hero-text {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  text-shadow: 0.5px 0.5px 1px black;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* ----------------------------------------------- */
/* --------------------sec-1---------------------- */
#sec-1 {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  text-align: center;
  padding-left: 72px;
  max-width: 100%;
  padding-bottom: 48px;
}

#green-speaker img{
    height: auto;
    width: auto;
    height: 500px;
    margin-top: 50px;
}


#purple-speaker img{
    height: auto;
    width: auto;
    height: 500px;
    margin-top: 50px;
}

#white-speaker img {
    height: auto;
    width: auto;
    height: 500px;
    margin-top: 50px;
}

#rosa-speaker img {
    height: auto;
    width: auto;
    height: 500px;
    margin-top: 50px;
}

#sec-1 p {
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  flex-direction: space-between;
  align-items: center;
}

/* --------------------------------------------- */
/* --------------------sec-2-------------------- */

#sec-2 {
  background-color: var(--fourth-color);
  display: flex;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  
}

#egenskaber-tekst {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    z-index: 5;
    width: auto;
    height: auto;
    position: relative;
    right: 350px;
}

#egenskaber-tekst img {
  height: auto;
  width: 100px;
  margin-bottom: 8px;
  padding-left: 64px;
  
}   

#egenskaber-tekst p {
    font-size: var(--font-size-small);
    text-align: center;
    color: var(--primary-color);
    line-height: 1.5;
}


/* ---------------------------------------------- */
/* ---------------------sec-3-------------------- */
#sec-3 {
  height: 625px;
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 64px;
  padding: 32px;
  gap: 56px;
}

/* ---------------------------------------------- */
/* ---------------------sec-4-------------------- */

#sec-4 h2 {
  text-align: center;
  font-size: var(--font-size-large);
  margin-top: 80px;
}

.review-header .heart {
  align-items: center;
  padding-left: 725px;
  padding-top: 16px;
  width: auto;
  height: 50px;
}

.reviews {
    flex-direction: row;
    display: flex;
    gap: 198px;
    padding-left: 100px;
}

.review-1 {
  margin-top: 70px;
  font-size: var(--font-size-medium);
  font-style: italic;
  text-align: center;
}

.review-2 {
  margin-top: 70px;
  font-size: var(--font-size-medium);
  font-style: italic;
  text-align: center;
}

.name {
    font-size: var(--font-size-small);
    font-weight: bold;
    padding-top: 16px;
}

/* ---------------------------------------------- */
/* ---------------------sec-4-------------------- */

footer {
  background-color: var(--third-color);
  color: var(--primary-color);
  margin-top: 150px;
  padding: 70px;
  display: flex;
  gap: 96px;
  width: auto;
  height: 400px;
  padding-top: 80px;
}

footer p {
    font-size: var(--font-size-x-small);
    padding-bottom: 16px;
}

footer h5 {
    font-size: var(--font-size-x-small);
    font-weight: bold;
    padding-bottom: 24px;
}

footer h6 {
    font-size: var(--font-size-x-small);
    color: var(--primary-color);
    padding-bottom: 16px;
}

.mail input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: var(--font-size-small);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--third-color);
  width: 450px;
  height: 35px;
  padding-left: 8px;
}

footer input::placeholder {
  font-weight: lighter;
  opacity: 0.7;
  color: var(--primary-color);
  font-size: var(--font-size-x-small);
  padding-left: 8px;
}

.tiktok {
  height: auto;
  width: 50px;
}

.insta {
  height: auto;
  width: 50px;
}

#social-media {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#up-btn {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    background-color: pink;
    color: var(--third-color);
    cursor: pointer;
    font-size: var(--font-size-medium);
    font-weight: bold;
}



/* ---------------------------------------------- */
/* ---------------------------------------------- */

/* @media (max-width: 768px) {
  /* Make sure the hero headline scales and remains centered on smaller screens */
  /* .headline {
    font-size: var(--font-size-hero-mobile);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem;
  }
} */ 

/* @media (max-width: 768px) {

    header {
        padding: 20px;
    }

    header .headline {
        font-size: var(--font-size-xl)
    }

    header label {
        display: block;
    }

    header .right-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        border-top: 1px solid var(--secondary-color);
        display: none;
    }
    
    header .right-navbar ul {
        flex-direction: column;
        align-items: stretch;
    }

    header .right-navbar ul li {
        width: 100%;
        margin: 0;
    }

    header .right-navbar ul li a {
        font-size: var(--font-size-small);
        padding: 20px;
        border-bottom: 1px solid var(--fourth-color);
        text-align: left;
    }

    figure {
        padding: 10px 20px;
        font-size: var(--font-size-small);
    }

    #menu-bar:checked ~ .right-navbar {
        display: block;
        font-size: var(--font-size-small);
    }

    .hero {
        margin-top: 70px;
        height: 80vh;
    }

    .hero-speaker {
        margin-top: 70px;
        height: 80vh;
    }

    .hero-content h1 {
        font-size: var(--font-size-hero-mobile);
        padding: 0 20px;
    }

    .hero-content a {
        font-size: var(--font-size-small);
        padding: 0 20px;
    }
 

    .hero-content p {
        font-size: var(--font-size-small);
        padding:0 20px;
    }

} */
